In [1]:
vector_1 = c(1, 2, 3, 4, 5)
vector_1

[1] 1 2 3 4 5

In [2]:
matrix_1 = matrix(
    data = 1:10,
    nrow = 2,
    byrow = TRUE
)
matrix_1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    3    4     5
[2,] 6    7    8    9    10

In [3]:
matrix(
    data = 1:10,
    nrow = 2,
    # byrow = FALSE
)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [4]:
rownames(matrix_1) = c("neko_1", "neko_2")
colnames(matrix_1) = c("nya_1", "nya_2", "nya_3", "nya_4", "nya_5")
matrix_1

       nya_1 nya_2 nya_3 nya_4 nya_5
neko_1 1     2     3     4      5
neko_2 6     7     8     9     10

In [5]:
array_1 = array(
    data = 1:30,
    dim = c(3, 5, 2)
)
print(array_1)

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    4    7   10   13
[2,]    2    5    8   11   14
[3,]    3    6    9   12   15

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   16   19   22   25   28
[2,]   17   20   23   26   29
[3,]   18   21   24   27   30

In [6]:
data_frame_1 = data.frame(
    col1 = c("A", "B", "C", "D", "E"),
    col2 = 1:5
)
data_frame_1

  col1 col2
1 A    1
2 B    2
3 C    3
4 D    4
5 E    5

In [7]:
nrow(data_frame_1)

[1] 5

In [8]:
list_1 = list(
    char = c("A", "B", "C"),
    mat = matrix_1,
    df = data_frame_1
)

In [9]:
list_1

$char
[1] "A" "B" "C"

$mat
       nya_1 nya_2 nya_3 nya_4 nya_5
neko_1     1     2     3     4     5
neko_2     6     7     8     9    10

$df
  col1 col2
1    A    1
2    B    2
3    C    3
4    D    4
5    E    5

In [10]:
list_1$df

  col1 col2
1 A    1
2 B    2
3 C    3
4 D    4
5 E    5

In [11]:
print(vector_1)
print(vector_1[1])

[1] 1 2 3 4 5
[1] 1

In [12]:
print(matrix_1)
print(matrix_1[1,])
print(matrix_1[,2])
print(matrix_1[1,2])
print(matrix_1[1,2:4])
print(dim(matrix_1))
print(dimnames(matrix_1))
print(matrix_1["neko_1","nya_2"])

       nya_1 nya_2 nya_3 nya_4 nya_5
neko_1     1     2     3     4     5
neko_2     6     7     8     9    10
nya_1 nya_2 nya_3 nya_4 nya_5
    1     2     3     4     5
neko_1 neko_2
     2      7
[1] 2
nya_2 nya_3 nya_4
    2     3     4
[1] 2 5
[[1]]
[1] "neko_1" "neko_2"

[[2]]
[1] "nya_1" "nya_2" "nya_3" "nya_4" "nya_5"

[1] 2

In [13]:
print(array_1)
print(array_1[1,,])
print(array_1[1,2,])
print(array_1[1,2,1])
print(array_1[,,1])
print(dim(array_1))

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    4    7   10   13
[2,]    2    5    8   11   14
[3,]    3    6    9   12   15

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   16   19   22   25   28
[2,]   17   20   23   26   29
[3,]   18   21   24   27   30

     [,1] [,2]
[1,]    1   16
[2,]    4   19
[3,]    7   22
[4,]   10   25
[5,]   13   28
[1]  4 19
[1] 4
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    4    7   10   13
[2,]    2    5    8   11   14
[3,]    3    6    9   12   15
[1] 3 5 2

In [14]:
print(data_frame_1)
print(data_frame_1$col1)
print(data_frame_1$col1[2])
print(head(data_frame_1, n=2))

  col1 col2
1    A    1
2    B    2
3    C    3
4    D    4
5    E    5
[1] "A" "B" "C" "D" "E"
[1] "B"
  col1 col2
1    A    1
2    B    2

In [24]:
print(list_1)
print(list_1$char)
print(list_1[[1]])

$char
[1] "A" "B" "C"

$mat
       nya_1 nya_2 nya_3 nya_4 nya_5
neko_1     1     2     3     4     5
neko_2     6     7     8     9    10

$df
  col1 col2
1    A    1
2    B    2
3    C    3
4    D    4
5    E    5

[1] "A" "B" "C"
[1] "A" "B" "C"
[1] "A" "B" "C"